:root {
  /* Variable COLOR CSS */
  --dsf-color-default-font: #FFFFFF;
  /* --dsf-color-default-background: #FFFFFF; */
  --dsf-color-default-background: #6B6E70;
  /* Header */
  /* --dsf-color-header-background: #55BC04; */
  --dsf-color-header-background: #474B4F;
  /* --dsf-color-header-font: #FFFFFF; */
  --dsf-color-header-font: #86FF32;
  /* Body */
  /* --dsf-color-body-background: #C2C2C2; */
  --dsf-color-body-background: #222629;
  /* Button */
  /* --dsf-color-button-background: #55BC04; */
  --dsf-color-button-background: #55BC04;
  --dsf-color-button-font: #FFFFFF;
  /* Field Input */
  --dsf-color-input-border: #C2C2C2;
  /* Font */
  --dsf-color-font-output-item-name: #FFFFFF;
  --dsf-color-font-output-item-value: #FFFFFF;
  /* Border */
  --dsf-color-border-result-list: #55BC04;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  height: 70px;
  width: 100%;
  color: var(--dsf-color-header-font);
  background-color: var(--dsf-color-header-background);
  font-size: 20px;
  font-weight: 700;
}

body {
  background-color: var(--dsf-color-body-background);
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}